.button {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	font-size: 1.5rem;
	border: none;
	border-radius: 50%;
	color: var(--color-text-secondary);
	background-color: transparent;
	white-space: nowrap;
	padding: 8px;
	cursor: pointer;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	touch-action: none;
	vertical-align: middle;
	text-align: center;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/*
.button + .button {
	margin-left: 2px;
}
*/

.button:hover {
	background-color: var(--color-background-secondary-hover);
	color: black;
}

.button[disabled] {
  opacity: .5;
  cursor: default;
	color: inherit;
	background-color: transparent;
}

.button svg {
	width: 24px;
	height: 24px;
	stroke: currentColor;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
	background-color: var(--color-background-secondary-ripple);
  pointer-events: none;
  transition: opacity 500ms linear;
  animation: ripple 300ms linear;
}

.ripple.clicked {
  opacity: 0.3;
}

@keyframes ripple {
  from { transform: scale(0); }
  to { transform: scale(1); }
}