.button {
	display: inline-block;
	position: relative;
	overflow: hidden;
	min-width: 64px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	border: 1px solid color-mix(in srgb, var(--color-primary) 50%, transparent);
	border-radius: 4px;
	color: var(--color-primary);
	background-color: transparent;
	white-space: nowrap;
	padding: 8px 15px;
	cursor: pointer;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	touch-action: none;
}

.button + .button {
	margin-left: 10px;
}

.button:hover {
	background-color: var(--color-background-hover);
	border: 1px solid var(--color-primary);
}

.button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--color-primary);
  pointer-events: none;
  transition: opacity 500ms linear;
  animation: ripple 300ms linear;
}

.ripple.clicked {
  opacity: 0.3;
}

@keyframes ripple {
  from { transform: scale(0); }
  to { transform: scale(1); }
}