.wrapper {
  position: relative;
  border-bottom: 1px solid var(--color-border-default);
}

.container {
  display: flex;
}

.tab {
  position: relative;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 10px 16px;
  cursor: pointer;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

.tab.selected {
  color: var(--color-primary);
}

.indicator {
  position: absolute;
  height: 2px;
  bottom: 0;
  background-color: var(--color-primary);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--color-background-secondary-ripple);
  pointer-events: none;
  transition: opacity 500ms linear;
  animation: ripple 300ms linear;
}

.ripple.clicked {
  opacity: 0.3;
}

.ripple.selected {
  background-color: var(--color-primary);
}

@keyframes ripple {
  from { transform: scale(0); }
  to { transform: scale(1); }
}