.createFolderContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scrollableListContainer {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid var(--color-border-default);
  margin: 10px;
}

.listActions {
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-border-default);
  display: flex;
  gap: 10px;
}