.button {
	display: inline-block;
	position: relative;
	overflow: hidden;
	min-width: 64px;
	font-family: 'Roboto', sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid rgba(25, 118, 210, 0.5);
	border-radius: 4px;
	color: rgb(25, 118, 210);
	background-color: transparent;
	white-space: nowrap;
	padding: 8px 15px;
	cursor: pointer;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	touch-action: none;
}

.button + .button {
	margin-left: 10px;
}

.button:hover {
	background-color: rgba(25, 118, 210, 0.04);
	border: 1px solid rgb(25, 118, 210);
}

.button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  background-color: #1976d2;
  pointer-events: none;
  transition: opacity 500ms linear;
  animation: ripple 300ms linear;
}

.ripple.clicked {
  opacity: 0.3;
}

@keyframes ripple {
  from { transform: scale(0); }
  to { transform: scale(1); }
}