.form {
  text-align: left;
  overflow: auto;
  min-width: 380px;
  min-height: 150px;
  width: 50vw;
  max-height: calc(80vh - 100px);
}

.header {
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}