.form {
  text-align: left;
}

.value {
  font-size: 20px;
  outline-width: 0;
  border: 1px solid lightgray;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.color, .completed {
  display: inline-block;
  min-width: 65px;
  height: 20px;
  font-size: 16px;
  border: 1px solid gray;
  margin-left: -1px;
}
.completed {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6) 0 100%);
  color: gray;
  text-decoration: line-through;
}
.select {
  font-size: 16px;
}
.name {
  font-size: 20px;
  outline-width: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.parameter {
  display: inline-block;
  text-align: left;
  padding: 2px 0;
}
