.overlay {
  background-color: var(--color-background-overlay);
  position: fixed;
  inset: 0;
  cursor: default;
  user-select: none;
  z-index: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-top: 10vh;
  animation: opening 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
}

.overlay.closing {
  visibility: visible;
  opacity: 0;
}

.overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.window {
  background-color: var(--color-background-surface);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0px 24px 38px 3px,
    rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  position: relative;
  margin: 0px auto;
  overflow-y: auto;
  width: fit-content;
  min-width: 400px;
  /*max-width: calc(100% - 20vw);*/
  max-height: calc(100% - 20vh);
  display: flex;
  flex-direction: column;
  width: fit-content;
}

@keyframes opening {
  from { opacity: 0; }
  to { opacity: 1; }
}