#root {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  user-select: none;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}


:root{
  --ui-backgroung-color: white;
  --ui-border-focus-color: #1976d2;
}