.overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
  user-select: none;
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(0, 25%) max-content minmax(0, 25%);
  grid-template-rows: minmax(0, 10%) max-content minmax(0, 10%);
}

.window {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #FFF;
  border-radius: 4px;
  padding: 10px 10px;
}