.button {
	display: inline-block;
	border: 1px solid lightgray;
	border-radius: 3px;
	white-space: nowrap;
	padding: 3px 6px;
	margin: 2px 2px 2px 0;
	cursor: pointer;
	vertical-align:middle;
}
.button:last-child {
	margin-right: 0;
}
.button:active, .button.active, .button.active:hover {
	background-color: #F49B25;
	text-shadow: none;
	color: #fff;
}
.button:hover {
	background-color: #fff;
	text-shadow: none;
	color: #000;
}
.button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}
