.day {
  color: gray;
  font-size: 12px;
  padding: 1px 4px;
}
.balance {
  margin: 0 1px;
  height: 14px;
  overflow: hidden;
  text-align: justify;
  text-align-last: justify;
}
.events {
  height: 150px;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
}
.DayTaskInput {
  width: 100%;
  padding: 2px 4px;
}
.DayTaskInput input {
  width: 100%;
  font-size: 11px;
  resize: none;
  /*outline-color: lightgray;*/
  border-style: none;
  outline: none;
  overflow: hidden;
  padding: 0;
}