.day, .before_actual_date {
  display: inline-block;
  width: calc(100%/7);
  height: 100%;
  border-left:  1px solid lightgray;
  vertical-align: top;
  background-color: rgb(245, 245, 245);
}
.before_actual_date {
  background-color: rgb(240, 240, 240);
}
.header, .today {
  background-color: rgb(233, 233, 233);
  color: gray;
  padding: 0.1em 0.4em;
  height: 1.4em;
}
.today {
  background-color: hotpink;
  color: white;
}
.balance {
  font-size: 0.9em;
  margin: 0.1em;
  height: 1.2em;
  overflow: hidden;
  text-align: justify;
  text-align-last: justify;
}
.input {
  outline-width: 0;
  white-space: nowrap;
  padding: 0.2em;
  height: 1.4em;
}