.CalendarDay {
  display: flex;
  flex-direction: column;
  /*flex: 1;*/
  background-color: #fff;
}

.CalendarDayHeader {
  color: gray;
  font-size: 12px;
  padding: 1px 4px;
  height: 14px;
}

.task_input {
  flex-shrink: 0;
  padding: 2px 4px;
  height: 14px;
}

.task_input input {
  width: 100%;
  font-size: 11px;
  resize: none;
  /*outline-color: lightgray;*/
  border-style: none;
  outline: none;
  overflow: hidden;
  padding: 0;
}
.tasks {
  display: flex;
  flex-direction: column;
}

.balance {
  margin: 0 1px;
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.plannedBalance {
  white-space: nowrap;
}
.actualBalance {
  float: right;
}