.EventItem {
  position: relative;
  width: 100%;
  height: 18px;
  background-color: lightgreen;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -1px;
  padding: 2px 2px;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin-top: -1px;
  cursor: pointer;
}

.event_item_completed {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 1px);
  height: 100%;
  background-color: rgb(255,255,255,0.6);
  backdrop-filter: grayscale(30%);
  pointer-events: none;
}

.event_row {
  margin-left: -12px;
  transition: margin-left 200ms;
}
.event_row:hover {
  margin-left: 0;
}
.complete_button {
  display: inline-block;
  width: 12px;
  cursor: pointer;
}

.EventPlaceholder {
  height: 18px;
  margin-top: -1px;
}

.EventTime {
  float: right;
}