.item, .completed{
  position: relative;
  width: 100%;
  height: 18px;
  background-color: white;
  overflow: hidden;
  margin: -1px 0 0 -1px;
  padding: 2px 2px;
  font-size: 12px;
  border: 1px solid gray;
  cursor: pointer;
  text-align: justify;
  text-align-last: justify;
}
.completed {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.6) 48%,rgba(0,0,0,0.3) 52%, rgba(0,0,0,0.1) 55%);
}
.placeholder {
  height: 18px;
  margin: -1px 0 0 -1px;
}
.name {
  display: inline-block;
  white-space: nowrap;
}
