.container {
  position: relative;
  /*height: fit-content;*/
  /*width: 100%;*/
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px 14px;
  background-color: var(--ui-backgroung-color);
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.container::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  pointer-events: none;
}

.container:hover {
  box-shadow: 0 0 0 1px black;
}

.container:focus-within {
  box-shadow: 0 0 0 2px var(--ui-border-focus-color);
}

.container.error .label::after{
  content: ' *';
  color: red;
}

.label {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  padding: 0 7px;
  position: absolute;
  left: 7px;
  top: 0;
  max-width: calc(100% - 7px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  background-color: var(--ui-backgroung-color);
  transform-origin: top left;
  transform: translate(0, 10px) scale(1);
  transition: 
    color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.input:not(:placeholder-shown) + .label {
  transform: translate(2px, -7px) scale(0.75);
}

.container:focus-within .label {
  color: var(--ui-border-focus-color);
  transform: translate(2px, -7px) scale(0.75);
}

.input {
  resize: none;
  overflow: hidden;
}

.container::after, .input {
  grid-area: 1 / 1 / 2 / 2;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  overflow: hidden;
  /*overflow-y: auto;*/
  max-height: 133px;
  word-wrap: break-word;
}

.input:focus-visible {
  outline-style: none;
}