.weekdays {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.weekday {
  display: flex;
  width: 36px;
  height: 40px;
  margin: 0 2px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}

.week {
  margin: 2px 0;
  display: flex;
  justify-content: flex-start;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.placeholder {
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: transparent;
  margin: 0 2px;
  pointer-events: none;
}