.container {
  position: relative; /* Needed to contain the absolutely positioned spinner overlay */
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 380px;
  min-height: 150px;
  width: 50vw;
  /*height: 80vh; /*calc(80vh - 100px);*/
  padding: 10px;
}

.spinnerOverlay {
  position: absolute;
  inset: 0; /* Top, right, bottom, left to 0 */
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it's above other content in the container but below modal overlay */
}

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9em;
  color: #666;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.breadcrumbItem {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.breadcrumbItem:hover {
  text-decoration: underline;
}

.breadcrumbSeparator {
  margin: 0 5px;
  color: #aaa;
}

.error {
  color: red;
  padding: 10px;
  border: 1px solid red;
  background-color: #ffebeb;
  margin-bottom: 10px;
}

.itemIcon {
  margin-right: 10px;
}

.itemName {
  flex-grow: 1;
}

.scrollableListContainer {
  height: 60vh;
  overflow-y: auto;
}

.actions {
  padding-top: 10px;
  text-align: right;
}

.createFolderContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  min-height: 150px;
}

.createFolderContainer .dialogActions {
  padding-top: 15px;
  justify-content: flex-end;
  width: 100%;
}

.deleteConfirmationContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  min-width: 300px;
  align-items: center;
}

.listActions {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  margin-bottom: 10px; /* Space below actions */
  padding: 5px;
  border-bottom: 1px solid #eee; /* Separator for the action buttons */
}

.createFolderButton {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.selectedItem {
  background-color: #e0e0e0; /* A subtle grey to indicate selection */
}
