.header {
  font-size: 22px;
  width: 100%;
  background-color: white;
  vertical-align: baseline;
  padding: 2px 8px;
  border-bottom: 1px solid lightgray;
  color: gray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.caption {
  white-space: nowrap;
}
/*
@media (max-width: 440px) { 
	.caption {
    order: 3;
	}
}
*/