.container {
  position: relative; /* Для позиционирования оверлея спиннера */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.error {
  color: red;
  padding: 10px;
  text-align: center;
}

.listActions {
  display: flex;
  gap: 8px;
  padding: 8px 0;
}

.createFolderContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deleteConfirmationContainer {
  padding: 20px;
  text-align: center;
}

.scrollableContent {
  flex: 1;
  overflow-y: auto;
}