.container {
  position: relative;
  height: 40px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  margin: 10px 2px 2px 2px;
  padding: 0 2px;
  background-color: var(--color-background-surface);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container:hover {
  box-shadow: 0 0 0 1px black;
}

.container:focus-within {
  box-shadow: 0 0 0 2px var(--color-border-focus);
}

.container.error .label::after{
  content: ' *';
  color: red;
}

.label {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  padding: 0 7px;
  position: absolute;
  left: 7px;
  top: 0;
  max-width: calc(100% - 7px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  background-color: var(--color-background-surface);
  transform-origin: top left;
  transform: translate(0, 10px) scale(1);
  transition: 
    color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.input:not(:placeholder-shown) + .label {
  transform: translate(2px, -7px) scale(0.75);
}

.container:focus-within .label {
  color: var(--color-border-focus);
  transform: translate(2px, -7px) scale(0.75);
}

.input {
  display: block;
  left: 0;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  font-size: inherit;
  font-family: inherit;
  margin-left: 12px;
  background-color: transparent;
  text-overflow: ellipsis;
}

.input:focus-visible {
  outline-style: none;
}