@import 'src/1-app/variables.css';

#root {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	display: grid;
	user-select: none;
	grid-template-columns: 1fr;
	grid-template-rows: max-content max-content 1fr;
}

/* Вкладки документов */
#root > div[data-testid="document-tabs-wrapper"] {
	grid-row: 2;
}

/* Основной контент */
#root > main {
	grid-row: 3;
	overflow: auto;
}
